.tRow:after {
  content: '';
  display: block;
  width: calc(100% - 4.375rem);
  height: 1px;
  background-color: #1D1D1D;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

thead .tRow:after {
  width: 100%;
}
