.progress {
  width: 100%;
  height: 2px;
  background-color: #f6c799;
  border-radius: 2px;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
}

.nodes {
  position: absolute;
  width: 100%;
  left: 0;
  top: 11px;
}

.node {
  position: absolute;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9f9f9f;
  cursor: pointer;

  &::after {
    content: attr(data-value);
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.progressInput {
  width: 100%;
  height: 2px;
  background-color: transparent;
  appearance: none;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    height: 0;
    border-top: 18px solid #f6c799;
    border-bottom: 0 solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    cursor: pointer;
    position: relative;
    top: 3px;
  }

  &::-webkit-slider-runnable-track {
    margin: 0 -9px;
  }
}
