@keyframes home_video_mask {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-30vh);
  }
}

.swiper-mask {
  display: none;
  background: linear-gradient(to top, #000 100vh, rgba(0, 0, 0, .3) 130vh);

  &.ani {
    display: block;
    transform: translateY(-30vh);
    animation: home_video_mask 0.3s ease-in-out;
  }
}
