.about {
    .swiper-slide {
        display: flex;
    }
    .bg-aboutBg {
        background-image: url("../../../public/img/about/img_1.jpg");
    }
    // .lineYellow {
    //     box-shadow: 2px 4px 90px 10px rgba(242,208,177,0.5);
    //     color: #fff;
    // }
    .slideInAnim {
        animation: slideInAnim 1.2s ease;
        animation-fill-mode: both;
    }
    .referralInAnim {
        animation: referralInAnim 1.2s ease;
        animation-fill-mode: both;
    }
    .referralOutAnim {
        animation: referralOutAnim 1.2s ease;
        animation-fill-mode: both;
    }

    @keyframes slideInAnim {
        0% {
            transform: translateY(5vw);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes referralInAnim {
        0% {
            transform: translateY(-100vh);
            opacity: 0
        }

        100% {
            transform: translateY(0);
            opacity: 1
        }
    }

    @keyframes referralOutAnim {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100vh);
        }
    }
}
