@keyframes astrark_arrow_img {
  0% {
    transform: translate3d(-50%, -0.5rem, 0);
  }
  50% {
    transform: translate3d(-50%, 0.5rem, 0);
  }
  100% {
    transform: translate3d(-50%, -0.5rem, 0);
  }
}

.maskVideo {
  mask: url('/svg/logo.svg');
  mask-size: var(--mask-size);
  mask-repeat: no-repeat;
  mask-position: 50% var(--mask-pos-y);
}

.videoShadow {
  background: linear-gradient(to top, #000 10%, transparent 100%);
}

.arrowImg {
  transform: translate3d(-50%, -0.5rem, 0);
  animation: astrark_arrow_img 3s ease-in-out infinite;
}

.maskBg {
  opacity: 1;
  transition: opacity 300ms linear;
}

.hideMaskBg {
  opacity: 0;
}
