@font-face {
  font-family: fzdb;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/FZXinGHJW-DB.TTF');
}

@font-face {
  font-family: fzsb;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/FZXinGHJW-SB.TTF');
}

@font-face {
  font-family: shs-bold;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/SourceHanSansCN-Bold.otf');
}

@font-face {
  font-family: shs-ex-light;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/SourceHanSansCN-ExtraLight.otf');
}

@font-face {
  font-family: shs-heavy;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/SourceHanSansCN-Heavy.otf');
}

@font-face {
  font-family: shs-light;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/SourceHanSansCN-Light.otf');
}

@font-face {
  font-family: shs-medium;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/SourceHanSansCN-Medium.otf');
}

@font-face {
  font-family: shs;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/SourceHanSansCN-Normal.otf');
}

@font-face {
  font-family: shs-regular;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/SourceHanSansCN-Regular.otf');
}

@font-face {
  font-family: poppins;
  src: url('https://d3dhz6pjw7pz9d.cloudfront.net/fonts/Poppins-Regular.ttf');
}
