.login-dialog-enter {
  opacity: 0;
  transform: translateY(100px);
}

.login-dialog-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
}

.login-dialog-exit {
  opacity: 1;
  transform: translateY(0);
}

.login-dialog-exit-active {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.login-dialog-exit-done {
  opacity: 0;
  transform: translateY(-100px);
}

.login-content-enter {
  opacity: 0;
  transform: translateY(100px);
}

.login-content-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
}

.login-content-exit {
  opacity: 1;
  transform: translateY(0);
}

.login-content-exit-active {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.login-content-exit-done {
  opacity: 0;
  transform: translateY(-100px);
}
