@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --basic-yellow: #f6c799;
}

body {
  min-height: 100vh;
}

#__next {
  min-height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@font-face {
  font-family: semakin;
  src: url("/fonts/Semakin.woff2");
}

@font-face {
  font-family: semakin;
  src: url("/fonts/Semakin.ttf");
}

@font-face {
  font-family: decima;
  src: url("/fonts/Decima-Mono-W01-Regular.woff2");
}

@font-face {
  font-family: decima;
  src: url("/fonts/Decima-Mono-W01-Regular.ttf");
}

@font-face {
  font-family: poppins;
  src: url("/fonts/Poppins-Regular.woff2");
}

@font-face {
  font-family: poppins;
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("/fonts/Poppins-Medium.woff2");
}

@font-face {
  font-family: poppins-medium;
  src: url("/fonts/Poppins-Medium.ttf");
}

.szh-menu-container--theme-dark .szh-menu.szh-menu {
  background-color: #000;
  border: none;
  border-radius: 10px;
}

.szh-menu-container--theme-dark .szh-menu__item--hover.szh-menu__item--hover {
  background-color: #000;
}

.szh-menu.szh-menu {
  min-width: 148px;
}

.basic-card {
  background-color: #1D1D1D;
  border-radius: 0.625rem;
}

.basic-card > div {
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
