@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --basic-yellow: #f6c799;
  background-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@font-face {
  font-family: semakin;
  src: url("/fonts/Semakin.woff2");
}

@font-face {
  font-family: semakin;
  src: url("/fonts/Semakin.ttf");
}

@font-face {
  font-family: decima;
  src: url("/fonts/Decima-Mono-W01-Regular.woff2");
}

@font-face {
  font-family: decima;
  src: url("/fonts/Decima-Mono-W01-Regular.ttf");
}

@font-face {
  font-family: poppins;
  src: url("/fonts/Poppins-Regular.woff2");
}

@font-face {
  font-family: poppins;
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("/fonts/Poppins-Medium.woff2");
}

@font-face {
  font-family: poppins-medium;
  src: url("/fonts/Poppins-Medium.ttf");
}

*::-webkit-scrollbar{
  display: none;
}

* {
  scrollbar-width: none;
}
