.scrollbar-yellow {
  &::-webkit-scrollbar {
    height: 12px;
    width: 11px;
    background: rgba(255, 255, 255, 0.33);
    z-index: 12;
    overflow: visible;
    border-radius: 17px;
  }

  &::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #ebddb6;
    z-index: 12;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-transition: background-color 0.28s ease-in-out;
    transition: background-color 0.28s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
  }
}
