:root {
  --toastify-color-dark: #000;
  --toastify-toast-min-height: 5rem;
  --toastify-toast-max-width: 26.9375rem;
  /* --toastify-color-info: ; */
  --toastify-color-success: #4dde6b;
  /* --toastify-color-warning: ; */
  --toastify-color-error: #ff4848;
}

.Toastify__toast-container {
  max-width: var(--toastify-toast-max-width);
}

.Toastify__toast-container--top-right {
  top: 7.5rem;
  right: 3.125rem;
}

.Toastify__toast {
  border: 1px solid currentColor;
  border-radius: 0.625rem;
  font-family: poppins-medium;
}

.Toastify__toast-icon {
  position: relative;
}

.Toastify__toast.Toastify__toast--info {
  border-color: var(--toastify-color-info);
}

.Toastify__toast.Toastify__toast--success {
  border-color: var(--toastify-color-success);
}

.Toastify__toast.Toastify__toast--warning {
  border-color: var(--toastify-color-warning);
}

.Toastify__toast.Toastify__toast--error {
  border-color: var(--toastify-color-error);
}

.Toastify__toast .Toastify__toast-icon {
  width: 1.5rem;
}

.Toastify__toast:is(.Toastify__toast--success, .Toastify__toast--error) .Toastify__toast-icon::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Toastify__toast.Toastify__toast--success .Toastify__toast-icon::after {
  background-image: url('/img/icon/icon_success.png');
}

.Toastify__toast.Toastify__toast--error .Toastify__toast-icon::after {
  background-image: url('/img/icon/icon_error.png');
}

.Toastify__toast:is(.Toastify__toast--success, .Toastify__toast--error) .Toastify__toast-icon > svg {
  display: none;
}

.Toastify__toast-body {
  white-space: pre-line;
}

@media (min-width: 960px) {
  :root {
    --toastify-toast-max-width: 36rem;
  }
}
