// 左侧移入/移出
.transition-fade-left-enter {
  opacity: 0;
  transform: translateX(-120%);
}

.transition-fade-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in-out, transform 500ms linear;
}

.transition-fade-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.transition-fade-left-exit-active {
  opacity: 0;
  transform: translateX(-120%);
  transition: opacity 500ms ease-in-out, transform 500ms linear;
}

.transition-fade-left-exit-done {
  opacity: 0;
  transform: translateX(-120%);
}

// 右侧移入/移出
.transition-fade-right-enter {
  opacity: 0;
  transform: translateX(120%);
}

.transition-fade-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in-out, transform 500ms linear;
}

.transition-fade-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.transition-fade-right-exit-active {
  opacity: 0;
  transform: translateX(120%);
  transition: opacity 500ms ease-in-out, transform 500ms linear;
}

.transition-fade-right-exit-done {
  opacity: 0;
  transform: translateX(120%);
}
