.puffyTask {
  :global(.task-description) {
    color: inherit;
    font-family: jcyt4;
  }

  :global(.task-tips) {
    > div:first-child {
      color: inherit;
      font-family: jcyt4;
    }
  }

  :global(.task-desc-view-more) {
    font-family: jcyt4;
    color: #0763ca;
    border: none;
    text-decoration-line: underline;
  }

  :global(.footer) {
    margin-top: 2.75rem;
  }
}

.puffyConnectBtn {
  background: linear-gradient(to bottom, #fc9b02, #fbc905);
  border: 2px solid #bb683d;

  &:hover {
    background: linear-gradient(to bottom, #fc9b02, #fbc905);
    border: 2px solid #bb683d;
  }
}

.puffyVerifyBtn {
  background: transparent;
  color: #5c0f0f;
  border: 1.5px solid currentColor;
  height: 30px;

  &:hover {
    background: transparent;
    color: #5c0f0f;
    border: 1.5px solid currentColor;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
