.notificationMenuContainer {
  :global {
    .szh-menu.szh-menu {
      padding: 0;
      overflow: hidden;
      background-color: #000;
      border: 1px solid #1d1d1d;
      width: 28.125rem;
      display: flex;
      flex-direction: column;
    }
  }
}
