.bg-line-tlf {
    background-image: url("../../../../../public/img/border_toplr.png");
}
.ba-line-brl {
    background-image: url("../../../../../public/img/border_bottomrl.png");
}
.bg-line-lr {
    background-image: url("../../../../../public/img/border_lr.png");
}
.bg-line-bottom {
    background-image: url("../../../../../public/img/border_bottom.png");
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.bg-size-100 {
    background-size: 100% 100%;
}