@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/BasicButton.scss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@font-face {
  font-family: semakin;
  src: url("/fonts/Semakin.woff2");
}

@font-face {
  font-family: semakin;
  src: url("/fonts/Semakin.ttf");
}

@font-face {
  font-family: decima;
  src: url("/fonts/Decima-Mono-W01-Regular.woff2");
}

@font-face {
  font-family: decima;
  src: url("/fonts/Decima-Mono-W01-Regular.ttf");
}
