.character {
  width: 133.2vw; 
  display: flex;
  transform: translateX(-15vw);
}
.character-warp {
  --skew-deg: -22deg;
  --skew-re-deg: 22deg;

  position: relative;
  height: 100vh;
  transform: skewX(var(--skew-deg));
  overflow: hidden;

  .character-bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 240%;
    height: 200%;
    transform:skewX(var(--skew-re-deg));
  }

  .character-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33.3vw;
    transform: scale(1.8) skewX(var(--skew-re-deg)) translateX(7vw);
    transition: all 0.2s;
    &:hover {
      transform: scale(2.5) skewX(var(--skew-re-deg)) translateX(7vw);
    }
  }

  .character-img-last{
    transform: scale(1.8) skewX(var(--skew-re-deg)) !important;
    &:hover {
      transform: scale(2.5) skewX(var(--skew-re-deg)) !important;
    }
  }

  .hero-name {
    position: absolute;
    bottom: 40px;
    left: 70%;
    font-size: 14px;
    color: #fff;
    transform: skewX(var(--skew-re-deg));
  }

  .hero-name-last {
    left: 55%;
  }
}

