.slideInAnim {
  animation: slideInAnim 1.2s ease;
  animation-fill-mode: both;
}

@keyframes slideInAnim {
  0% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0);
  }
}

.characterDesc {
  .title:nth-child(3) {
    line-height: 2.25rem;
  }

  .subtitle {
    white-space: normal;
  }
}
