.school-desc {
  .desc {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  }

  .desc-enter {
    opacity: 0;
  }

  .desc-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
  }

  .desc-exit {
    opacity: 1;
  }

  .desc-exit-active {
    opacity: 0;
    transition: opacity 800ms ease-in-out;
  }

  .desc-exit-done {
    opacity: 0;
  }
}
