.ani-out {
  --translate-x: 100%;
  --translate-y: -100%;
  --duration-time: 2s;
  animation: ani-out var(--duration-time) ease-in-out forwards;

  @keyframes ani-out {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(var(--translate-x), var(--translate-y));
      opacity: 0;
    }
  }
}

.ani-in {
  --translate-x: 100%;
  --translate-y: -100%;
  animation: ani-in 3s ease-in-out forwards;

  @keyframes ani-in {
    0% {
      transform: translate(var(--translate-x), var(--translate-y));
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
