@keyframes ani_mon {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  .text-wrapper {
    .text {
      background-image: linear-gradient(to right, var(--basic-yellow) 0%, var(--basic-yellow) 50%, white 50%, white 100%);
      background-size: 200%;
    }
  }
}

.moon {
  animation: ani_mon 2s linear;
}
