.maskVideo {
  mask: url('/svg/logo.svg');
  mask-size: 80%;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
}

.downloadBtn {
  &::before {
    content: '';
    position: absolute;
    width: calc(50% + 2px);
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #daac74, #e0bf8c);
    mask: url('/img/astrark/pre-register/bg_btn_colored.png') left/auto 100% no-repeat;
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(50% + 2px);
    height: 100%;
    right: 0;
    top: 0;
    background-image: linear-gradient(to right, #e0bf8c, #eee8c1);
    mask: url('/img/astrark/pre-register/bg_btn_colored.png') right/auto 100% no-repeat;
  }
}
