.page-tetra-nft-main-title {
  .desc-enter {
    opacity: 0;
    transform: translateY(-100px);
  }

  .desc-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-in-out, transform 500ms linear;
  }

  .desc-exit {
    opacity: 1;
    transform: translateY(0);
  }

  .desc-exit-active {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 500ms ease-in-out, transform 500ms linear;
  }

  .desc-exit-done {
    opacity: 0;
    transform: translateY(-100px);
  }
}
