.strokeText {
  position: relative;
  color: transparent;
  text-align: center;

  &::before {
    content: attr(data-text);
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px rgb(255 255 255 / 0.5);
    background-color: transparent;
    position: absolute;
    width: 100%;
    left: -0.375rem;
    top: 0.375rem;
  }

  &::after {
    content: attr(data-text);
    background: linear-gradient(to bottom, #EFEBC5 0, #D9A970 100%);
    background-clip: text;
    position: relative;
    padding: 0 1rem;
    z-index: 0;
  }
}