@keyframes star_img_scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.4);
  }
}

@keyframes star_screen_ani {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.star-screen {
  display: none;

  .bg-img {
    transform: scale(1.2);
  }

  &.star-screen-ani {
    display: block;
    animation: star_screen_ani 0.2s ease-in;
  }
}
